{:top-namespace "fully"
 :interface-ns "interface"
 :default-profile-name "default"
 :compact-views #{}
 :vcs {:auto-add false
       :name "git"}
 :tag-patterns {:release "v[0-9]*"
                :stable "stable-*"}
 :projects {"cljs-project" {:alias "cljs-project"}
            "demo" {:alias "demo"}
            "development" {:alias "dev"}}}

