{:top-namespace        "fully"
 :interface-ns         "api"
 :default-profile-name "default"
 :compact-views        #{}
 :vcs                  {:auto-add false
                        :name     "git"}
 :tag-patterns         {:release "v[0-9]*"
                        :stable  "stable-*"}
 :projects             {"development" {:alias "dev"}}}

