; Example Schema

{:example/user   [:map {:fully/entity?       true
                        :fully.entity/id-key :user/id}
                  [:user/id {:fully.entity.generate/generated true} :uuid]
                  [:user/username :string]
                  [:user/password :string]
                  [:user/email :string]
                  [:user/active? :boolean]
                  [:user/premium? :boolean]
                  ;[:user/threads [:* [:ref :example/thread]]]
                  ;[:user/comments [:vector [:ref :example/comment]]]
                  ]

 :example/thread [:map {:fully/entity? true}
                  [:thread/body :string]
                  #_[:thread/comments [:vector [:ref :example/comment]]]
                  ]

 ;:example/comment [:map {:fully/entity? true}
 ;                  [:comment/body :string]
 ;                  [:comment/replies [:vector [:ref :example/comment]]]]
 }

; example of a query that fetches all comments of a user in a thread
;{:find  [(pull ?comment [*])]
; :in    [?user ?thread]
; :where [[?user :user/comments ?comment]
;         [?thread :thread/comments ?comment]]})