{:paths   ["src"]
 :deps    {aero/aero                  {:mvn/version "1.1.6"}
           com.stuartsierra/component {:mvn/version "1.0.0"}
           metosin/malli              {:mvn/version "0.6.1"}}
 :aliases {:test {:extra-deps  {}
                  :extra-paths ["test"
                                "../../test"]}}}

