{:paths   ["src"]
 :deps    {com.stuartsierra/component {:mvn/version "1.0.0"}
           metosin/malli              {:mvn/version "0.6.1"}
           metosin/potpuri            {:mvn/version "0.5.3"}
           com.xtdb/xtdb-core         {:mvn/version "1.20.0"}}
 :aliases {:test {:extra-deps  {}
                  :extra-paths ["test"]}}}

